*,*::after,*::before{
  box-sizing: border-box;
  scroll-behavior: smooth;s
}

body{
  max-width: 1920px;
  padding: 0;
  margin: 0;
}

html{
  font-size: 16px;
}

.container{
 max-width: 1110px;
 margin: auto;
}
