@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1920px;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1110px;
  margin: auto;
}

header {
  background-image: url(img/header.png);
  height: 800px;
  padding-top: 50px;
}

nav {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_right {
  display: flex;
  align-items: center;
}

.nav_right ul {
  list-style: none;
  text-transform: uppercase;
  display: flex;
}

a {
  color: #ffffff;
  text-decoration: none;
}

nav ul a {
  padding-right: 20px;
  font-weight: bold;
  font-size: 14px;
}

.tel {
  display: flex;
  align-items: center;
}

.contacts {
  max-width: 160px;
}

.tel img {
  padding-right: 8px;
}
