@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1920px;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1110px;
  margin: auto;
}

header {
  background-image: url(img/header.png);
  height: 800px;
  padding-top: 50px;
}

nav {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger_menu{
display: none;
}

.nav_right {
  display: flex;
  align-items: center;
}

.nav_right ul {
  list-style: none;
  text-transform: uppercase;
  display: flex;
}

.cart_line{
  position: relative;
}

.cart_line::after{
  content: "";
  background-color: #fff;
  width: 1px;
  height: 50px;
  position: absolute;
  right: 0px;
  bottom: -15px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

nav ul a {
  padding-right: 20px;
  font-weight: bold;
  font-size: 14px;
}

.tel {
  display: flex;
  align-items: center;
}

.contacts {
  max-width: 160px;
  margin-left: 35px;
}

.tel img {
  padding-right: 8px;
}

.booking{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  padding: 15px 20px;
  background: #FF7400;
  margin-left: 50px;
}

.welcome{
  color: #FF7400;
  font-family: 'Tinos';
  color: #D67E35;
  width: 555px;
  text-align: center;
  margin-top: 205px;
}

.welcome p:nth-child(1){
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
}
.welcome p:nth-child(2){
  font-weight: 400;
  font-size: 80px;
  line-height: 92px;
}

.welcome p:nth-child(3){
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  position: relative;
  width: 245px;
  margin: auto;
  text-transform: uppercase;
  margin-top: 12px;
}

.welcome p:nth-child(3):before{
  content: "";
  width: 60px;
  height: 2px;
  background: #C4C4C4;
  position: absolute;
  left: -30px;
  top: 12px;
}

.welcome p:nth-child(3):after{
  content: "";
  width: 60px;
  height: 2px;
  background: #C4C4C4;
  position: absolute;
  right: -30px;
  top: 12px;
}

.btn{
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  background: #FF7400;
  text-transform: uppercase;
  padding: 15px 30px;
  transition: all .2s linear;
}

.btn:hover{
  color: #FF7400;
  background: #fff;
  border: 1px solid #FF7400;
}

.welcome_btn{
  margin-top: 20px;
}

.intro .container{
display: flex;
align-items: center;
justify-content: space-between;
font-family: 'Tinos';
position: relative;
top: -107px;
}

.card{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 330px;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  padding: 0px 30px 0px;
}

.card img{
  margin-top: 50px;
}

.card h3{
  margin: 5px auto 20px;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #2C2C2C;
}

.card p{
  font-size: 26px;
  line-height: 30px;
  color: #656363;
  text-align: center;
}

.gold{
  color: #BC9060;
}

#history .container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.history_text{
  text-align: center;
  width: 445px;
}

.history_text h2{
  font-family: 'Tinos';
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  margin-bottom: 20px;
}

.history_text_p{
  font-size: 16px;
  line-height: 22px;
  color: #656363;
}

.count{
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}

.count_card_number{
  font-size: 40px;
  line-height: 54px;
}

.count_card_text{
  font-size: 20px;
line-height: 27px;
}

#zakaz{
  
  
  background: rgba(0, 0, 0, 0.85);

}

#zakaz .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.zakaz_text {
width: 600px;
}

.zakaz_text h2{
  font-family: 'Tinos';
font-weight: 400;
font-size: 52px;
line-height: 60px;
color: #D67E34;
padding-top: 80px;
padding-bottom: 20px;

}

.zakaz_text p{
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
  padding-bottom: 100px;
}



.our_meals .container{
display: flex;
flex-direction: column;
align-items: center;
margin: 130px auto 140px;
}
.our_meals .container h2{
margin-bottom: 140px;
}

.pizza{
  width:480px;

}

.menu_bottom{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.menu_hamburger{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger_card{
display: flex;
align-items: center;
}

.hamburger_card img{
  width: 160px;
  margin-right: 30px;
}

.dashed{
  display: inline-block;
  width: 205px;
  border: 1px dashed #000000;
  margin: 0 10px 0;
}

@media screen and (max-width: 320px) {

  .container {
    width: 290px;
  }

  .nav_right{
    display: none;
  }

  .burger_menu{
    display: block;
  }

  .welcome p:nth-child(3):before{
    display: none;
  }

  .welcome p:nth-child(3):after{
    display: none;
  }

  header{
    padding-top: 25px;
    width: 100%;
    background-position: center ;
  }

  .welcome{
    width: 290px;
  }

  .welcome p:nth-child(1){
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
  }

  .welcome p:nth-child(2){
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
  }
  
  .welcome p:nth-child(3){
    font-size: 15px;
    line-height: 20px;
  }
  
  .intro .container{
    flex-direction: column;
  }

  .card{
    width: 290px;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
  }

  .card p{
    font-size: 22px;
    line-height: 25px;
  }

  #history .container{
    flex-direction: column;
    margin-bottom: 50px;
  }

  .history_text{
    width: 100%;
  }

  .history_image{
    width: 100%;
  }

  .history_image img{
    width: 100%;
  }

  .history_text h2{
    font-size: 40px;
    line-height: 46px;
    width: 190px;
    margin: auto;
    margin-bottom: 50px;
  }

  .count{
    flex-direction: column;
  }

  .count_card{
    margin-bottom: 20px;
  }

  .zakaz_text {
    width: 100%;
    text-align: center;
  }

  #zakaz .container{
    flex-direction: column;
    align-items: center;
  }

  .zakaz_text h2{
    font-size: 30px;
    line-height: 34px;
    padding: 20px 0;
  }

  .zakaz_text p{
    padding-bottom: 40px;
  }

  .booking{
    margin-bottom: 30px;
  }

  .our_meals .container{
    text-align: center;
  }

  .our_meals .container h2{
    font-size: 40px;
line-height: 46px;
width: 180px;
  }

  .menu_bottom{
    flex-direction: column;
  }

  .pizza{
    width: 290px;
  }

  .menu_hamburger{
    margin-top: 50px;
  }

  .hamburger_card img{
    width: 130px;
    margin-right: 8px;
  }

  .hamburger_card{
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dashed{
    display: none;
  }

  .hamburger_card_text p:nth-child(1){
  font-size: 22px;
  line-height: 25px;
  }

  .hamburger_card_text p:nth-child(3){
    font-size: 26px;
line-height: 30px;
  }

}